<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Receipts</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'list_accounts' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'list_categories' %}">Categories</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block main %}
        {% endblock main %}
    </body>

</html>