{% extends 'base.html' %}

{% block main %}
    <main>
        <h1>Expenses</h1>
        <p><a href="{% url 'create_category' %}">Create category</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in expenses %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock main %}